@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@theme {
  --color-primary: #111111;
  --color-secondary: #ffffff;

  --font-primary: "Raleway", sans-serif;

  --breakpoint-xs: 480px;

}

@layer base {
  body {
    @apply bg-primary font-primary;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }

  h2 {
    @apply text-white text-6xl sm:text-4xl md:text-5xl font-bold
  }

  h4{
    @apply text-lg sm:text-xl font-semibold
  }


}

@layer components {
  .navbar {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex items-center justify-between;
  }

  .footer{
    @apply flex;
  }

  .home-button{
    @apply hover:cursor-pointer;
  }

  .parallax-section{
  @apply relative h-screen overflow-hidden
}

  .parallax-image {
    @apply absolute inset-0 w-full h-full object-cover will-change-transform
  }

}


@utility text-gradient-bkb {
  @apply bg-linear-to-r from-[#d7a452] to-[#e8860f] bg-clip-text text-transparent font-bold;
}

@utility text-gradient-es {
  @apply bg-linear-to-r from-[#1b52de] to-[#7da3e9] bg-clip-text text-transparent font-bold;
}

@utility text-gradient-se {
  @apply bg-linear-to-r from-[#a6eaff] to-[#00a6ff] bg-clip-text text-transparent;
}



